*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    background-color:#AFDDEF !important;
    padding-bottom: 100px;

}
.owl-nav, .owl-dots{
    display: none;
}
.slash{
    visibility: hidden;
}

header{
    display: block;
    background-color: #AFDDEF;
}
.banner{
    display: flex;
    height:auto;
    justify-content: space-around;
}
.banner2{
    padding: 5px 0px;
    background-color: #f5f5f5;
}
.banner2 a{
    color: #f68b1e;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 90px;
}
.toop-nav{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}
.top-section{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.acct{
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 90vh;
}
.user{
    color: black !important;
    padding: 0 5px;
}

.acct-col{
    display: flex;
    border: 1px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   
.col6-h1{
    color: #f68b1e;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
.mobile-free-delivery{
    display: none;
}
.search .nav-link{
    display: flex;
    align-items: center;  
}
.mobile-search{
    display: none;
}
.section{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.search{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}
.search a{
    margin-left:65px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 0;
}
input[type="text"] {
    width: 45vw;
    padding: 5px 20px;
}
.mobile-section{
    display: none;
}
.mob-ft-cnt{
    display: none;
}
button {
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: #f68b1e;
    font-weight: 900;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
button:hover {
    opacity: 0.9;
    background-color: or;
}
section{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.display{
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
}
.col2{
    width: 16.67%;
}
.col6{
    width: 50%;
}
.col8{
    width: 66.67%;
}
.left{
    background-color: white;
    height: 100%;
}
.left a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 25px;
}

li{
    list-style-type: none;
}
li a{
    color: black;   
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pick-up, .banks{
    height: 45%;
}

.pick-up img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.banks img{
    width: 100%;
    height:100%;
    border-radius: 4px;
}
.slider{
    padding: 0 10px;
}
.carousel-inner img{
    border-radius: 4px;
}
.tooltip a {
    position: relative;
    display: inline-block;
}
.tooltip a .tips{
    position: absolute;
    top: -5px;
    left: 105%;
    border: 4px solid red;
    width: 66.67;
    height: 70vh;
    background-color: black;
    z-index: 1;
}
.products{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.products img{
    width: 100px;
}
.top-sell{
    background-color: white;
    padding: 10px 0;
}

.card{
    width: 200px;
    border:1px solid black;
    margin: 15px 10px; 
    height: 100px; 
    
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.top-sell{
    display: flex;
    justify-content: space-evenly;
}
.top-selling{
    background-color: white;
    margin: 10px 0;

}
.card-text p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-text{
    padding: 4px 8px;
}
.bdg{
    position: absolute;
    top: 8px;
    right: 8px;
    direction: ltr;
    min-width: 40px;
    color: #f68b1e;
    background-color: #feefde;
}
.time{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    background-color:red;
    padding: 0 40px;
    color: white;
}
.time a{
    color:white;
    text-decoration: none;
    padding: 10px 0;
}
.stk{
    padding: 10px;
}
.meter{
    background-image: linear-gradient(to right,#f6b01e 100%,#c7c7cd 100%);
    height: 8px;
    border-radius: 20px;
}
.del{
    height: 10px;
}
.promo{
    background-color: #f5f5f5;
    margin: 10px 0;
}
.dont-miss{
    text-align: center;
    background-color: #FDECF0;
    padding: 5px 0;
}
.free-delivery{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.free-delivery img:hover{
    transform: scale(1.04);
}
.top-deals{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #FDECF0;
}
.top-deals span{
    font-weight: 300;
}
.top-deals a{
    text-decoration: none;
    color: black;
}
.see a   {
    margin: 50px 0;
}
.mobile-h4{
    display: none;
}
.seee {
    display: none;
}
.navigate{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.navigate a{
    display: inline-block;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 290px;
    border-radius: 4px;

}
.free-delivery2{
    width: fit-content;
}
.free-delivery2 a{
    text-decoration: none;
    color: black;
}
.free-delivery2 a:hover{
    color: black;
}
.picture:hover{
    transform: scale(1.04);
}
.caption{
    text-align: center;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    justify-content: space-around;
}
.sub-h4{
    text-align: center;
}

.off{
    background-color: #E2F5FF;
}
.last-note{
    background-color: #ffffff;
}
.note{
    padding: 10px;
    font-size: 12px;
}
.note h1, .note h2 {
    font-size: 20px;
    font-weight: 400;
}
.note a{
   font-weight: 500;
    color: black;
}

.note a:hover{
    font-weight: 500;
    color: black;
 }
 .read-more-btn{
    display: none;
 }
 .dots{
    display: none;
 }
#back-to-top{
    position: fixed;
    display: inline-block;
    justify-content:right;
    background-color: white;
    border-radius: 50%;
    padding: 7px 10px;
    border: 1px solid #f6b01e;
    color: #282828;
    bottom: 20px;
    right: 20px;
    margin-top: 20px;
    opacity: 0;
}
#back-to-top.visible{
    opacity: 1;
    z-index: 100000;
}
#back-to-top:hover{
    background-color: rgba(246, 139, 30, .6)
}
footer{
    background-color: #323232;
}
.inner-foot {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}
.foot-top{
    display: flex;
    background-color: #282828;
}
.plain{
    width: 25%;
}
.New{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.NTJ{
    text-transform: uppercase;
    margin: 5px 0;
    color: #ffffff;
}
input[type="email"]{
    padding: 10px 60px;
}
form{
    display: flex;
    margin: 10px 0;
}
.gender{
    display: flex;
    padding: 0 4px;
}
.gender button{
    margin: 0 4px;
    background-color: #323232;
    border-radius: 4px;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 30px;
}
.span2{
    color: #c7c7cd;
}
.download{
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}
.svg{
    display: flex;
    flex-direction: column;
}
.get-it a {
    display: inline-block;
    max-width: 150px;
    text-decoration: none;
    line-height: 15px;
    padding: 8px;
    color: #c7c7cd;
}
.get-it a span {
    color: #c7c7cd;
}
.foot-bottom{
    display: flex;
    padding-bottom: 24px;
}
.foot-bottomm{
    display: none;
}

.lets-help {
    padding: 16px 0;
    display: block;
    color: #ffffff;
    width: fit-content;
    text-transform: uppercase;
}
.lnk {
    width: 25%;
}
.ftlink{
    display: block;
    width: fit-content;
    color: #c7c7cd;
    text-decoration: none;
}
.part{
    display: flex;
    width: 50%;
}
.partt{
    width: 50%;
}
.half{
    width: 50%;
}
.line{
    border-bottom: 1px solid white;
}
.intl{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.S-Z{
    padding-left: 20px;
}
li{
    list-style-type: none;
}
.foot-bottom .lnk .fa-brands, .fa-regular{
    color: white;
}
.partt .fa-solid, .fa-brands{
    color: white;
}
.pfppl{
    display: flex;
    justify-content: center;
    
}
.jumia-links{
    color: whitesmoke;
    display: inline-block;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .menu-bar a{
        color: black;
    }
    .banner2{
        display: none;
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    .search{
        display: none;
    }
    section{
        display: block;
        width: 100%;
    }
    .toop-nav .top-section .section .mobile-section {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .jumia-menu{
        margin-left: 20px;
    }
    .mobile-search{
        display: block;
    }
    .profile .fa-regular{
        color: black;
    }
    .mobile-search input{
        width: 100%;
        border-radius: 60px;
        border: 1px solid;
    }
    .profile{
        display: block;
    }
    .top-nav{
        padding-bottom: 4px;
    }
    .mobile-free-delivery{
        display: block;
        font-size: 20px;
        color: white;
        text-align: center;
        background-color: rgb(182, 0, 0);
    }
    .display{
        flex-direction: column;
        width: 100%;
    }
    .leftt, .right{
        display: none;
    }
    .col8{
        width: 100%;
    }
    .navigate{
        display: none;
    }
    .products{
        overflow: auto;
    }
    .free-delivery{
        width: 100%;
    }
    .free-delivery img{
        width: 33.33%;
    }
    .desktop{
        display: none;
    }
    .see{
        display: none;
    }
    .mobile-h4{
        display: block;
    }
    .seee{
        display: block;
    }
    .inner-foot, .foot-bottom{
        display: none;
    }
    .foot-bottomm{
        display: block
    }
    .foot{
        display: block;
        font-size: .75rem;
        padding: 8px 16px;

    }
    .mobile-foot{
        display: flex;
        font-size: .625rem;
        flex-wrap: wrap;
        justify-content: space-around;
        text-transform: uppercase;
    }
    .mob-foot-link{
        color: white;
        text-decoration: none;
        padding: 8px;

    }
    .copyrights{
        position: relative;
        padding: 8px;
        text-align: center;
        color: whitesmoke;
    }
    .copyrights::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 1px;
        padding: 0 16px;
        color: white;
        background-color: white;
        width: 100%;
    }
    .mob-ft-cnt{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .moretext{
        display: none;
    }
    .note.show-more .moretext{
        display: inline;
    }
    .read-more-btn{
        display: block;
        width: 100%;
        color: #f68b1e;
        background-color: #ffffff;
        margin: 0;
    }
    .dots{
        display: block;
    }
    .note.show-more .dots{
        display: none;
    }
}

@media only screen and (max-width: 1289px) {
    .banner2{
        display: none;
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    .search{
        display: none;
    }
    section{
        width: 100%;
    }
    .toop-nav .top-section .section .mobile-section {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .jumia-menu{
        margin-left: 20px;
    }
    .mobile-search{
        display: block;
    }
    .profile .fa-regular{
        color: black;
    }
    .mobile-search input{
        width: 100%;
        border-radius: 60px;
        border: 1px solid;
    }
    .profile{
        display: block;
    }
    .top-nav{
        padding-bottom: 4px;
    }
    .mobile-free-delivery{
        display: block;
        font-size: 20px;
        color: white;
        text-align: center;
        background-color: rgb(182, 0, 0);
    }
    .display{
        flex-direction: column;
        width: 100%;
    }
    .leftt, .right{
        display: none;
    }
    .col8{
        width: 100%;
    }
    .navigate{
        display: none;
    }
    .products{
        overflow: auto;
    }
    .free-delivery{
        width: 100%;
    }
    .free-delivery img{
        width: 33.33%;
    }
    .desktop{
        display: none;
    }
    .see{
        display: none;
    }
    .mobile-h4{
        display: block;
    }
    .seee{
        display: block;
    }
    .inner-foot, .foot-bottom{
        display: none;
    }
    .foot-bottomm{
        display: block
    }
    .foot{
        display: block;
        font-size: .75rem;
        padding: 8px 16px;

    }
    .mobile-foot{
        display: flex;
        font-size: .625rem;
        flex-wrap: wrap;
        justify-content: space-around;
        text-transform: uppercase;
    }
    .mob-foot-link{
        color: white;
        text-decoration: none;
        padding: 8px;

    }
    .copyrights{
        position: relative;
        padding: 8px;
        text-align: center;
        color: whitesmoke;
    }
    .copyrights::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 1px;
        padding: 0 16px;
        color: white;
        background-color: white;
        width: 100%;
    }
    .mob-ft-cnt{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .moretext{
        display: none;
    }
    .note.show-more .moretext{
        display: inline;
    }
    .read-more-btn{
        display: block;
        width: 100%;
        color: #f68b1e;
        background-color: #ffffff;
        margin: 0;
    }
    .dots{
        display: block;
    }
    .note.show-more .dots{
        display: none;
    }
}
