*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff !important;
}
.body {
    background-color:#AFDDEF !important;
    /* border: 1px solid black; */
}

header{
    display: block;
    background-color: #AFDDEF;
    
    /* margin-left: auto;
    margin-right: auto; */
}
.banner{
    display: flex;
    /* flex-direction: column;
    width: 90%; */
    height:60px;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: space-around;
}
.banner2{
    padding: 5px 0px;
    /* border: 1px solid red; */
    background-color: #f5f5f5;
    /* display: block; */
}
.banner2 a{
    color: #f68b1e;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 90px;
}
.toop-nav{
    /* border: 1px solid gold; */
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}
.top-section{
    /* border: 1px solid red; */
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.acct{
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 90vh;
}

.acct-col{
    display: flex;
    border: 1px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-left: auto;
    margin-right: auto; */
    transform: translate(-50%, -50%);
    /* justify-content: center;
    align-items: center; */
    /* max-width: 1184px; */
    /* min-width: fit-content;
    height: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    /* flex: 0 1 auto;
    flex-wrap: wrap; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50, -50); */
}   
.col6-h1{
    color: #f68b1e;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
.mobile-free-delivery{
    display: none;
}
.search .nav-link{

    display: flex;
    align-items: center;
    
}
.mobile-search{
    display: none;
}
.section{
    /* border: 1px solid black; */
    /* display:flex; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.search{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    /* border: 1px solid green;
    background-color: green; */
}
.search a{
    margin-left:65px;
    /* border: 1px solid red; */
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 0;
}
input[type="text"] {
    width: 45vw;
    padding: 5px 20px;
}
.mobile-section{
    display: none;
}
.mob-ft-cnt{
    display: none;
}
/* ::placeholder{
    padding: 0 20px;
} */
button {
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: #f68b1e;
    font-weight: 900;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
button:hover {
    opacity: 0.9;
    background-color: or;
}
section{
    /* background-color: #AFDDEF; */
    /* height: 100vh; */
    /* border: 1px solid red; */
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.display{
    display: flex;
    /* justify-content: space-around; */
    /* height: 100vh; */
    margin: 10px 0;
    /* border: 1px solid red; */
}
.col2{
    width: 16.67%;
    /* border: 1px solid yellow; */
    /* height: 70vh; */
}
.col6{
    width: 50%;
    border: 1px solid black;
}
.col8{
    width: 66.67%;
    /* border: 1px solid white; */
    /* height: 70vh; */
    /* border: 1px solid purple; */
}
.left{
    background-color: white;
    /* margin-top: 10px; */
    height: 100%;
}
.left a {
    display: block;
    /* text-align: center; */
    text-decoration: none;
    color: black;
    /* margin: 40px 0; */
    padding: 5px 25px;
}

li{
    list-style-type: none;
    /* width: 100%; */
    /* border:  2px solid blue; */
}
li a{
    color: black;
    
    
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .pick-up{
    height: 50%;
} */

.pick-up img{
    width: 100%;
    /* margin-bottom: 20px; */
    /* height: 100%; */
    border-radius: 4px;
}
/* .banks{
    margin:45px 0 0 0;
} */
.banks img{
    width: 100%;
    border-radius: 4px;
}
.carousel-inner img{
    border-radius: 4px;
    /* height: 100px; */
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
}
/* .carousel-item img {
height: 50%;
} */
.tooltip a {
    position: relative;
    display: inline-block;
}
.tooltip a .tips{
    position: absolute;
    top: -5px;
    left: 105%;
    border: 4px solid red;
    width: 66.67;
    height: 70vh;
    background-color: black;
    z-index: 1;
}
.products{
    background-color: white;
    /* height: 80px; */
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.products img{
    width: 100px;
}
.top-sell{
    background-color: white;
    padding: 10px 0;
}

.card{
    width: 200px;
    /* overflow: hidden; */
    border:1px solid black;
    margin: 15px 10px; 
    height: 100px; 
    
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.top-sell{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}
.top-selling{
    background-color: white;
    margin: 10px 0;

}
.card-text p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-text{
    padding: 4px 8px;
}
.bdg{
    position: absolute;
    top: 8px;
    right: 8px;
    direction: ltr;
    min-width: 40px;
    color: #f68b1e;
    background-color: #feefde;
}
.time{
    display: flex;
    justify-content:space-between;
    background-color:red;
    padding: 0 40px;
    color: white;
}
.time a{
    color:white;
    text-decoration: none;
    padding: 10px 0;
}
.stk{
    padding: 10px;
}
.meter{
    background-image: linear-gradient(to right,#f6b01e 100%,#c7c7cd 100%);
    /* width: 100%; */
    /* border: 1px solid black; */
    height: 8px;
    border-radius: 20px;
}
.del{
    height: 10px;
}
.promo{
    /* border: 1px solid black; */
    background-color: #f5f5f5;
    margin: 10px 0;
}
.dont-miss{
    text-align: center;
    background-color: #FDECF0;
    padding: 5px 0;
}
.free-delivery{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.free-delivery img:hover{
    transform: scale(1.04);
}
.top-deals{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #FDECF0;
}
.top-deals span{
    font-weight: 300;
}
.top-deals a{
    text-decoration: none;
    color: black;
}
/* .see{
    border: 1px solid red;
} */
.see a   {
    margin: 50px 0;
}
.mobile-h4{
    display: none;
}
.seee {
    display: none;
}
.navigate{
    /* border: 1px solid white; */
    /* background-color: tomato; */
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.navigate a{
    display: inline-block;
    /* border: 1px sold black; */
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 290px;
    border-radius: 4px;

}
.free-delivery2{
    /* border: 1px solid black; */
    width: fit-content;
    /* width: 16.67%; */
    /* overflow: hidden;
    padding: 0;
    margin: 0; */
}
.free-delivery2 a{
    text-decoration: none;
    color: black;
}
.free-delivery2 a:hover{
    color: black;
}
.picture:hover{
    transform: scale(1.04);
}
.caption{
    /* border: 1px solid red; */
    text-align: center;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* width: 100%; */
}
.sub-h4{
    
    /* border: 1px solid red; */
    text-align: center;
    
}

.off{
    background-color: #E2F5FF;
}
.last-note{
    background-color: #ffffff;
}
.note{
    padding: 10px;
    font-size: 12px;
    margin-bottom: 100px;
}
.note h1, .note h2 {
    font-size: 20px;
    font-weight: 400;
}

/* .note h2 {
    font-size: 20px;
    font-weight: 400;
} */
.note a{
   font-weight: 500;
    color: black;
}

.note a:hover{
    font-weight: 500;
    color: black;
 }
.b2t{
    position: fixed;
    display: flex;
    justify-content:right;
    /* z-index: 300; */
    bottom: 20px;
    right: 20px;
    /* top: 200px; */
    padding-top: 100vh;
    margin-top: 20px
    /* text-align: left; */
    /* border: 1px solid red; */
    /* width: fit-content; */

}
footer{
    background-color: #323232;
    /* height: 400px; */
}
.inner-foot {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    
    /* height: 100px; */
}
.foot-top{
    display: flex;
    background-color: #282828;
}
.plain{
    width: 25%;
    /* border: 1px solid black; */
}
.New{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* padding: 20px 0; */
}
.NTJ{
    text-transform: uppercase;
    margin: 5px 0;
    color: #ffffff;
}
input[type="email"]{
    padding: 10px 60px;
}
form{
    display: flex;
    margin: 10px 0;
}
.gender{
    display: flex;
    /* width: 25%; */
    padding: 0 4px;
}
.gender button{
    margin: 0 4px;
    background-color: #323232;
    border-radius: 4px;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 30px;
}
.span2{
    color: #c7c7cd;
}
.download{
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}
.svg{
    display: flex;
    flex-direction: column;
    /* margin-right: 80px; */
}
.get-it a {
    /* border: 1px solid black; */
    display: inline-block;
    max-width: 150px;
    text-decoration: none;
    line-height: 15px;
    padding: 8px;
    color: #c7c7cd;
}
.get-it a span {
    color: #c7c7cd;
}
.foot-bottom{
    /* color: cornflowerblue; */
    display: flex;
    /* border: 1px solid white; */
    padding-bottom: 24px;
    /* display: none; */
}
.foot-bottomm{
    display: none;
}

.lets-help {
    padding: 16px 0;
    display: block;
    color: #ffffff;
    /* border: 1px solid white; */
    width: fit-content;
    text-transform: uppercase;
}
.lnk {
    width: 25%;
    /* padding-bottom: 24px; */
    
}
.ftlink{
    display: block;
    width: fit-content;
    color: #c7c7cd;
    text-decoration: none;
}
.part{
    display: flex;
    width: 50%;
}
.partt{
    width: 50%;
}
.half{
    width: 50%;
}
.line{
    border-bottom: 1px solid white;
}
.intl{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.S-Z{
    padding-left: 20px;
}
li{
    list-style-type: none;
}
.foot-bottom .lnk .fa-brands, .fa-regular{
    color: white;
}
.partt .fa-solid, .fa-brands{
    color: white;
}
.pfppl{
    display: flex;
    justify-content: center;
    
}
.jumia-links{
    color: whitesmoke;
    display: inline-block;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .banner2{
        display: none;
        width: 100%;
    }
    /* .banner {
        width: 100%;
    } */
    .banner img{
        width: 100%;
    }
    .search{
        display: none;
    }
    section{
        display: block;
        width: 100%;
    }
    .toop-nav .top-section .section .mobile-section {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    /* .toop-nav{
        /* border: 1px solid gold; */
        /* position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 2;
    } */ 
    .jumia-menu{
        margin-left: 20px;
    }
    .mobile-search{
        display: block;
    }
    .profile .fa-regular{
        color: black;
    }
    .mobile-search input{
        width: 100%;
        border-radius: 60px;
        border: 1px solid;
    }
    .profile{
        display: block;
        /* margin-right: 20px; */
    }
    .top-nav{
        padding-bottom: 4px;
    }
    .mobile-free-delivery{
        display: block;
        font-size: 20px;
        color: white;
        text-align: center;
        background-color: rgb(182, 0, 0);
    }
    .display{
        flex-direction: column;
        width: 100%;
    }
    .leftt, .right{
        display: none;
    }
    .col8{
        width: 100%;
    }
    .navigate{
        display: none;
    }
    .products{
        overflow: auto;
    }
    .free-delivery{
        width: 100%;
    }
    .free-delivery img{
        width: 33.33%;
    }
    .desktop{
        display: none;
    }
    .see{
        display: none;
    }
    .mobile-h4{
        display: block;
    }
    .seee{
        display: block;
    }
    .inner-foot, .foot-bottom{
        display: none;
    }
    .foot-bottomm{
        display: block
    }
    .foot{
        display: block;
        font-size: .75rem;
        padding: 8px 16px;

    }
    .mobile-foot{
        display: flex;
        font-size: .625rem;
        flex-wrap: wrap;
        justify-content: space-around;
        text-transform: uppercase;
        /* border-bottom: 1px solid white; */
    }
    .mob-foot-link{
        /* display: inline-block; */
        color: white;
        text-decoration: none;
        padding: 8px;

    }
    .copyrights{
        position: relative;
        padding: 8px;
        text-align: center;
        color: whitesmoke;
    }
    .copyrights::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 1px;
        padding: 0 16px;
        color: white;
        background-color: white;
        /* border-top: 1px solid white; */
        width: 100%;
    }
    .mob-ft-cnt{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1289px) {
    .banner2{
        display: none;
        width: 100%;
    }
    /* .banner {
        width: 100%;
    } */
    .banner img{
        width: 100%;
    }
    .search{
        display: none;
    }
    section{
        width: 100%;
    }
    .toop-nav .top-section .section .mobile-section {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    /* .toop-nav{
        /* border: 1px solid gold; */
        /* position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 2;
    } */ 
    .jumia-menu{
        margin-left: 20px;
    }
    .mobile-search{
        display: block;
    }
    .profile .fa-regular{
        color: black;
    }
    .mobile-search input{
        width: 100%;
        border-radius: 60px;
        border: 1px solid;
    }
    .profile{
        display: block;
        /* margin-right: 20px; */
    }
    .top-nav{
        padding-bottom: 4px;
    }
    .mobile-free-delivery{
        display: block;
        font-size: 20px;
        color: white;
        text-align: center;
        background-color: rgb(182, 0, 0);
    }
    .display{
        flex-direction: column;
        width: 100%;
    }
    .leftt, .right{
        display: none;
    }
    .col8{
        width: 100%;
    }
    .navigate{
        display: none;
    }
    .products{
        overflow: auto;
    }
    .free-delivery{
        width: 100%;
    }
    .free-delivery img{
        width: 33.33%;
    }
    .desktop{
        display: none;
    }
    .see{
        display: none;
    }
    .mobile-h4{
        display: block;
    }
    .seee{
        display: block;
    }
    .inner-foot, .foot-bottom{
        display: none;
    }
    .foot-bottomm{
        display: block
    }
    .foot{
        display: block;
        font-size: .75rem;
        padding: 8px 16px;

    }
    .mobile-foot{
        display: flex;
        font-size: .625rem;
        flex-wrap: wrap;
        justify-content: space-around;
        text-transform: uppercase;
        /* border-bottom: 1px solid white; */
    }
    .mob-foot-link{
        /* display: inline-block; */
        color: white;
        text-decoration: none;
        padding: 8px;

    }
    .copyrights{
        position: relative;
        padding: 8px;
        text-align: center;
        color: whitesmoke;
    }
    .copyrights::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 1px;
        padding: 0 16px;
        color: white;
        background-color: white;
        /* border-top: 1px solid white; */
        width: 100%;
    }
    .mob-ft-cnt{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
